*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: black;
    
    
}
.container1{
    position: relative;
    height:100px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(30, 29, 29);
    
}
.container2{
    height: 940px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    background-color:  rgb(30, 29, 29);
    

}
.fa-solid{
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    color: white;

}
.container1 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.container3{
    position: absolute;
    height: 1050px;
    margin: 10px;
    top: 1px;
    left: 320px;
    bottom: 100px;
    border-radius: 5px;
    width: 78%;
    background-color: rgb(30, 29, 29);
    display: flex;
    justify-content:space-between;

}
.arrow{
   display: flex;
}
.nav-bar button{
    border-radius: 20px;
    padding: 5px 20px;
    color: black;
}
.nav-bar button a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.nav-bar li{
    list-style: none;
    display: inline;
}
.nav-bar li a{
    text-decoration: none;
    font-size: 17px;
    color: rgb(198, 197, 197);
}
.container2 a{
    padding: 40px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(198, 197, 197);
}
.nav a{
    margin: 10px;
    padding: 5px;
    font-size: 0.8em;   
}
.nav li{
    list-style: none;
    display:inline-table;
}
.container2 iframe{
    height: 400px;
    width: 290px;
    margin-bottom: 50px;
}
.kd{
    position: absolute;
    top: 90px;
    color: white;
    margin: 25px;
}
.kd1{
    position: absolute;
    top: 380px;
    color: white;
    margin: 20px;
}
.img1{
    height: 220px;
    margin: 5vh;
    width: 160px;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;
    
}
.img1 img{
    height: 120px;
    padding: 13px;
}
.img2{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;

}
.img2 img{
    height: 120px;
    padding:13px;
}
.img3{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;
}
.img3 img{
    height: 120px;
    padding: 15px;
}
.img4{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;

}
.img4 img{
    height: 120px;
    padding: 13px;
}
.img5{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;
}
.img5 img{
    height: 120px;
    padding: 15px;
}
.k2{
    position: absolute;
    top: 90px;
    margin: 40px;
    display: flex;
}
.k3{
    position: absolute;
    top: 390px;
    margin:40px;
    display: flex;
}
.img6{
    height: 220px;
    margin: 5vh;
    width: 160px;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;
    
}
.img6 img{
    height: 120px;
    padding: 13px;
}
.img7{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color:rgb(37, 37, 38);
    text-align: center;
    color: white;

}
.img7 img{
    height: 120px;
    padding:13px;
}
.img8{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color:rgb(37, 37, 38);
    text-align: center;
    color: white;
}
.img8 img{
    height: 120px;
    padding: 15px;
}
.img9{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;

}
.img9 img{
    height: 120px;
    padding: 13px;
}
.img0{
    height: 220px;
    width: 160px;
    margin: 5vh;
    background-color: rgb(37, 37, 38);
    text-align: center;
    color: white;
}
.img0 img{
    height: 120px;
    padding: 15px;
}
.foot{
    position: absolute;
    top: 290px;
    margin:40px;
    display: flex;
    color: white;
}
.foot1{
    position: absolute;
    top: 490px;
    margin:40px;
    display: flex;
    color: rgb(198, 197, 197);
   
}
.q1{
    position: absolute;
    top: 510px;
    color: white;
    width:98%;
}
.m1{
    margin: 10px;
    padding: 20px;
    width: 120px;
}
.m2{
    margin:10px;
    padding: 20px;
    width:120px;
}
.m3{
    margin: 10px;
    padding: 20px;
    width: 500px;
}
.m4{
    margin: 10px;
    padding: 20px;
    width: 150px;
    font-size: 2em;
    letter-spacing: 5px;
}
.m1 li a{
    text-decoration: none;
    color: rgb(198, 197, 197);
}
.m2 li a{
    text-decoration: none;
    color: rgb(198, 197, 197);
}
.m3 li a{
    text-decoration: none;
    color: rgb(198, 197, 197);
}
.m1 li{
    list-style: none;
}
.m2 li{
    list-style: none;
}
.m3 li{
    list-style: none;
}